@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,500;0,900;1,700&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;

}

:root{
   --Pale-blue: hsl(225, 100%, 94%);
   --Bright-blue: hsl(245, 75%, 52%);
   --Very-pale-blue: hsl(225, 100%, 98%);
   --Desaturated-blue: hsl(224, 23%, 55%);
   --Dark-blue: hsl(223, 47%, 23%);
   --changed-color:hsl(228, 45%, 44%);
}

p{
    color:var(--Pale-blue)
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (min-width: 366px) and (max-width: 2048px) {

        body {
            background: url(../images/pattern-background-desktop.svg),var(--Pale-blue) ;
            background-repeat: no-repeat;
            background-size: contain;
            font-size: 16px;
           
            background-attachment: fixed;
            background-position: center top;
        }

        .container{
            display: grid;
            place-items: center;
            align-content: center;
            height: 100vh;
        }
        .card{
           
            width: 350px;
            height: 530px;
            border-radius: 20px;
            background-color:white;
            text-align: center;
           
        }
        img{
            width: 350px;
            height: 170px;
            background: url(../images/illustration-hero.svg);
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 15px 15px 0px 0px;
        }
        .first{
            font-size: x-large;
            font-weight: 900;
            color: var(--Dark-blue);
            padding: 15px 0px 0px 0px;
            margin-top: 15px;
        }
        .tag{
            color: var(--Desaturated-blue);
            font-size: small;
            font-weight: 500;
            text-align: center;
            padding: 10px 30px 0px 30px;
        }

        .box{
            display: flex;
            justify-content: space-around;
            width: 290px;
            height: 70px;
            font-weight: 700;
            font-size: medium;
            background:#F8F9FE;
            padding: 12px 0px 0px 0px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 15px;
            margin-bottom: 10px;
            
            border-radius: 5px;
        }
        .box-1{
            width: 40px;
            height: 40px;
            background: url(../images/icon-music.svg);
            background-repeat: no-repeat;
            background-size: contain;
            margin-left: 10px;
          
        }
        .box-2{
            display: flex;
           flex-direction: column;
           margin-right: 70px;
           font-size: small;
           font-weight: 700;
           
        }
        span{
            display: inline-block;
            font-size: small;
            font-weight: 500;
            color: var(--Desaturated-blue);
            
        }
        .box-3{
            margin-right: 15px;
            margin-top: 10px;
            
        }
        a{
            cursor: pointer;
            font-size: small;
            font-weight: 700;
            color: #3A348A;
        }
        a:hover{
            text-decoration: none;
            color: #766CF1;
        }
        
       
       
        button{
            
            margin: 20px 0px 20px 0px;
            border: none;
            padding: 5px;
            width: 290px;
            height: 40px;
            border-radius: 10px;
            background-color: var(--Bright-blue);
            color: white;
            -webkit-box-shadow: -1px 6px 12px 0px rgba(56,42,225,0.56); 
            box-shadow: -1px 6px 12px 0px rgba(56,42,225,0.56);
        }
        button:hover{
            cursor: pointer;
            background-color: #766CF1;
        }
        .cancel{
            padding: auto;
        }
        .final{
            font-weight: 900;
            font-size: small;
            color: var(--Desaturated-blue);
            cursor:pointer;   
        }
        .final:hover{
            color: var(--dark-blue);
        }
}

@media (max-width:366px) {
    body {
        background: var(--Pale-blue) ;
        font-size: 16px;
        background-attachment: fixed;
        background-position: center top;
    }

    .container{
        display: grid;
        place-items: center;
        align-content: center;
        height: 100vh;
    }
    .card{
       
        width: 340px;
        height: 600px;
        border-radius: 20px;
        background-color:white;
        text-align: center;
       
    }
    img{
        width: 340px;
        height: 170px;
        background: url(../images/illustration-hero.svg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px 15px 0px 0px;
    }
    .first{
        font-size: x-large;
        font-weight: 900;
        color: var(--Dark-blue);
        padding: 15px 0px 0px 0px;
        margin-top: 15px;
    }
    .tag{
        color: var(--Desaturated-blue);
        font-size: medium;
        font-weight: 500;
        text-align: center;
        padding-left: 35px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 35px;
    }

    .box{
        display: flex;
        justify-content: space-around;
        width: 290px;
        height: 90px;
        font-weight: 700;
        font-size: medium;
        background:#F8F9FE;
        padding: 20px 0px 0px 0px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        
        border-radius: 5px;
    }
    .box-1{
        width: 50px;
        height: 50px;
        background: url(../images/icon-music.svg);
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: 10px;
      
    }
    .box-2{
        display: flex;
       flex-direction: column;
       margin-right: 10px;
       font-size: medium;
       font-weight: 700;
       
    }
    span{
        display: inline-block;
        font-size: medium;
        font-weight: 500;
        color: var(--Desaturated-blue);
        
    }
    .box-3{
        margin-right: 10px;
        margin-top: 10px;
        
        
    }
    a{
        cursor: pointer;
        font-size: 15px;
        font-weight: 700;
        color: #3A348A;
    }
    a:hover{
        text-decoration: none;
        color: #766CF1;
    }
    
   
   
    button{
        
        margin: 20px 0px 20px 0px;
        border: none;
        font-size: medium;
        font-weight: 900;
        padding: 5px;
        width: 290px;
        height: 60px;
        border-radius: 10px;
        background-color: var(--Bright-blue);
        color: white;
        -webkit-box-shadow: -1px 6px 12px 0px rgba(56,42,225,0.56); 
        box-shadow: -1px 6px 12px 0px rgba(56,42,225,0.56);
    }
    button:hover{
        cursor: pointer;
        background-color: #766CF1;
    }
    .cancel{
        padding: auto;
    }
    .final{
        font-weight: 900;
        font-size: medium;
        color: var(--Desaturated-blue);
        cursor:pointer;   
    }
    .final:hover{
        color: var(--dark-blue);
    }   
}
